.form {
	display: flex;
	justify-content: center;
	border: 2px brown double;
	border-radius: 10px;
	margin: 20px;
}
.contacto__form {
	display: flex;
}
.contactow {
	width: 3em;
	height: 3em;
	position: fixed;
	right: 5px;
	bottom: 7px;
}
